#Student-Mark-table,
td,
tr,
th {
border: 2px solid black;
border-collapse: collapse;
padding: 20px 20px 20px 20px;
text-align: center;
margin: auto;
}
#my-div {
text-align: center;
margin: auto;
color: rgb(0, 149, 255);
}
.h2 {
text-align: center;
}
tr:nth-child(1) {
background-color: lightsalmon;
}
#div-h1 {
text-align: center;
margin: auto;
}
#div-h2 {
text-align: left;
margin: auto;
}
#div-h3 {

text-align: right;
margin: auto;
}
